/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  height: 30px;
  padding: 10px;
  border-radius: 5px;
  font-weight: 700;
  width: 91%;
  margin-left: 2%;
  color: #606060;
  border: 2px solid #D3D3D3;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
